# Environment
.venv/
.venv-autorag/
.venv-RAGBench
.venv-haystack
.venv-fastrag
.venv-312

# Data 
code/RAGBench/src/data/
code/ragnroll_project/data/se_vulnerability
resources/*
code/ragnroll_project/chroma-data/
code/ragnroll_project/qdrant_data/


# DS_Store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

.env

# deepeval
.deepeval*

# python cache
__pycache__/
*.pyc
.cpython-*

# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.loa
*.loc
*.lol
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.nls
*.snm
*.synctex.gz
*.tdo
*.thm
*.xdy

# Backup files
*~
*.bak
*.sav

*/thesis.log
*/thesis.fdb_latexmk

# Output Files
**/output.csv
**/latencies.csv
*test.json
*val.json

# all subdirectories with /val/ or /test/
**/val/**
**/test/**

# mlflow
**/mlruns/**
**/mlartifacts/**

# generated configs
**/from_matrix/*.yaml
**/from_matrix/*.yml
**/from_pipeline/*.yaml
**/from_pipeline/*.yml

# vscode
.vscode/
