# Environment
.venv/
.venv-autorag/
.venv-RAGBench
.venv-haystack
.venv-fastrag
.venv-312

# Data 
code/RAGBench/src/data/
code/ragnroll_project/data/se_vulnerability

# DS_Store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

.env

# deepeval
.deepeval*

# python cache
__pycache__/
*.pyc
.cpython-*