
Given these documents, answer the question.
Your answer is used within a pipeline and must follow the following format: "The answer is "valid"" or "The answer is "invalid"" with quotation marks. Also allowed are "yes" or "no", "true" or "false", "1" or "0". After stating your answer, explain your answer in detail.
Example: Question: London is the capital of France. Answer: "false", because the capital of France is Paris, not London.
Documents:
{% for doc in documents %}\
{{ doc.content }}
{% endfor %}
Question: {{query}}
Answer:
