The following query consists of a configuraiton. Rewrite this as sort of documentation page for each of this configuration. Create at maximum 5 documentations. Focus on the configuration items that can lead easily to errors / misconfigurations.
Example (docker):
Query:
```
FROM python:3.10

CMD ["python", "-m", "http.server", "8000"]
```

Documentation:
<start_documentation>
FROM

FROM [--platform=<platform>] <image> [AS <name>]
Or


FROM [--platform=<platform>] <image>[:<tag>] [AS <name>]
Or


FROM [--platform=<platform>] <image>[@<digest>] [AS <name>]
The FROM instruction initializes a new build stage and sets the base image for subsequent instructions. As such, a valid Dockerfile must start with a FROM instruction. The image can be any valid image.
<end_documentation>
<start_documentation>
CMD
The CMD instruction sets the command to be executed when running a container from an image.

You can specify CMD instructions using shell or exec forms:

CMD ["executable","param1","param2"] (exec form)
CMD ["param1","param2"] (exec form, as default parameters to ENTRYPOINT)
CMD command param1 param2 (shell form)
There can only be one CMD instruction in a Dockerfile. If you list more than one CMD, only the last one takes effect.

The purpose of a CMD is to provide defaults for an executing container. These defaults can include an executable, or they can omit the executable, in which case you must specify an ENTRYPOINT instruction as well.
<end_documentation>                                                 
#######################################################
                                                 

Only return the documentation, no other text.
Query:
```
{{query}}
```
                                                        
Documentation:
